section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
  color: #2f2e2e;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title {
  margin: 60px auto;
  font-size: 4em;
}

.content {
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .image {
  position: relative;
  width: 430px;
  height: 650px;
  overflow: hidden;
}

.content .image img {
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.content .text-box {
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  margin-left: 70px;
  padding: 40px;
  max-width: 600px;
  border: 1px solid rgba(32, 30, 30, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
}

.content .text-box li {
  list-style: none;
}

.content .text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.content .text-box p {
  font-style: italic;
}

.section-title {
  font-size: 3em;
  margin-bottom: 25px;
}

.info-title {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.info {
  width: 700px;
  margin-left: 50px;
}

.media-info {
  width: 100%;
  margin-left: 50px;
}

.media-info li {
  list-style: none;
  font-size: 14px;
}
.media-info li:not(:last-child) {
  margin-bottom: 20px;
}

.sec-03 {
  margin-bottom: 100px;
}

.card-background {
  width: 80%;
  padding: 20px;
  border-radius: 10px;
}

.exhibition-list {
  list-style-type: none;
  padding-left: 0;
}

.exhibition-list li {
  font-size: 14px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1400px) {
  .sec-01,
  .sec-02,
  .section-03 {
    padding: 40px 60px;
  }

  .sec-02 {
    padding-top: 80px;
  }
}

@media screen and (max-width: 1200px) {
  .sec-01,
  .sec-02,
  .section-03 {
    padding: 40px 40px;
  }

  .sec-02 {
    padding-top: 80px;
  }

  .main-title {
    font-size: 3em;
    margin: 60px auto 30px;
  }

  .content {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .content .image {
    width: 100%;
    height: 500px;
  }

  .content .text-box {
    width: 100%;
    backdrop-filter: none;
    margin-left: 75px;
    padding: 20px;
    max-width: max-content;
  }

  .info {
    width: 100%;
    margin-left: 0;
  }

  .container {
    align-items: flex-start;
  }

  .card-background {
    width: 100%;
    padding: 0;
  }

  .media-info {
    margin-left: 0;
  }

  section {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 992px) {
  .sec-01,
  .sec-02,
  .section-03 {
    padding: 40px 20px;
  }

  .sec-02 {
    padding-top: 80px;
  }
}

@media screen and (max-width: 768px) {
  .sec-01,
  .sec-02,
  .section-03 {
    padding: 40px 20px;
  }

  .sec-02 {
    padding-top: 80px;
  }

  .main-title {
    font-size: 3em;
    margin: 60px auto 30px;
  }

  .content {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .content .image {
    width: 100%;
    height: 500px;
  }

  .content .text-box {
    width: 100%;
    backdrop-filter: none;
    margin-left: 75px;
    padding: 20px;
    max-width: max-content;
  }

  .info {
    width: 100%;
    margin-left: 0;
  }

  .container {
    align-items: flex-start;
  }

  .card-background {
    width: 100%;
    padding: 0;
  }

  .media-info {
    margin-left: 0;
  }

  section {
    justify-content: flex-start;
  }
}
