.container {
  width: 100%;
  max-width: 120rem;
  margin: 80px auto 0;
  padding: 0 148px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -5px;
}

.img-container {
  width: calc(25% - 10px);
  margin: 5px;
  position: relative;
  overflow: hidden;
  height: 300px;
}

.img-container-3x {
  width: calc(33.33% - 16px);
  margin: 5px;
  position: relative;
  overflow: hidden;
  height: 350px;
}

.img-container img,
.img-container-3x img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  object-position: center center;
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.modal {
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 700px;
  position: relative;
}

.modal-content {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.close {
  position: absolute;
  top: 0%;
  right: 10px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 50%;
  transition: background-color 0.3s;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.img-container:hover img,
.img-container-3x:hover img {
  transform: scale(1.1);
}

.prev,
.next {
  position: absolute;
  top: 50%;
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}
.prev {
  right: 100%;
}
.next {
  left: 100%;
}

@media screen and (max-width: 1400px) {
  .container {
    padding: 0 60px;
  }

  .close {
    top: 2%;
    right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 40px;
  }

  .close {
    top: 18%;
    right: 0;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 20px;
  }

  .img-container,
  .img-container-3x {
    width: 100%;
    margin: 0;
    width: calc(33.3% - 10px);
  }

  .close {
    top: 5%;
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .img-container,
  .img-container-3x {
    width: 100%;
    margin: 0;
    width: calc(50% - 10px);
  }

  .close {
    top: 25%;
    right: 0;
  }
}
