.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  padding: 160px 148px 80px;
  text-align: center;
}

.middle-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-item {
  margin: 0 20px;
  text-align: center;
}

.image-title {
  margin-bottom: 18px;
}

.middle-images img {
  width: 300px;
  height: auto;
  transition: transform 0.3s ease;
}

.middle-images img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1400px) {
  .container {
    padding: 120px 60px 80px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 120px 40px 60px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 120px 20px 40px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 120px 20px 40px;
  }

  .middle-images {
    flex-direction: column;
    gap: 20px;
  }
}
